asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
awscli==1.18.69
backcall==0.2.0
blinker==1.4
botocore==1.16.19
certifi==2018.1.18
chardet==3.0.4
click==8.0.3
colorama==0.3.7
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
docutils==0.14
Flask==2.0.2
Jinja2==3.0.3
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
numpy==1.19.5
oauthlib==2.0.6
parso==0.8.2
requests==2.18.4
requests-unixsocket==0.1.5
Werkzeug==2.0.2
