.background-container {
  display: flex;
  flex-direction: column;
  background-color: #3f3d3b;
  min-height: 100vh;
}

.eventQuestion-container {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  min-height: 100vh;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    box-shadow: 3px 3px 3px grey;
    border: 1px solid black;
    background-color: #555251;
    border-radius: 15px;
    margin-top: 5vh;
    width: 80vw;
}

.home-text h1 {
    font-size: 3em;
    color: white;
    justify-content: center;
    letter-spacing: 3px;
    margin: 5px;
}

.home-columns {
  display: flex;
  flex-direction: row;
  padding: 2%;
  margin-top: 1vh;
  align-items: center;
  justify-content: center;
}

.home-columns-box {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  max-width: 40%;
  justify-content: center;
  align-items: center;
}

.home-columns-box-image {
  display: flex;
  margin-left: 2vw;
  max-width: 30%;
  justify-content: center;
  align-items: center;
}

.home-columns-box p {
  color: white;
  line-height: 2;
  margin-top: 0vh;
  margin-bottom: 1vh;
  font-family: Raleway;
  text-align: justify;
  font-size: 2vh;
}

.home-columns-box img {
  object-fit: cover;
}

.hr-home {
  border: 1px solid black;
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}