.background-container {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  min-height: 100vh;
}

.eventQuestion-container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  min-height: 100vh;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80vw;
    height: auto;
    margin-top: 12.5%;
}

.home-text h1 {
    font-size: 3em;
    color: #3c1874;
    justify-content: center;
    letter-spacing: 3px;
    margin: 5px;
    font-family: 'Raleway';
    font-weight: bold;
}

.home-text img {
  display: inline-block;
  height: auto;
  max-width: 20vw;
  margin-right: 2%;
}

.home-text-border-box {
  display: block;
  align-content: space-between;
  padding: 7.5%;
  margin-bottom: 5%;
}

.home-columns {
  display: flex;
  flex-direction: row;
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.home-columns-box {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  max-width: 40%;
  justify-content: center;
  align-items: center;
}

.home-columns-box-image {
  display: flex;
  margin-left: 2vw;
  max-width: 30%;
  justify-content: center;
  align-items: center;
}

.home-columns-box p {
  color: white;
  line-height: 2;
  margin-top: 0vh;
  margin-bottom: 1vh;
  font-family: Raleway;
  text-align: justify;
  font-size: 2vh;
}

.home-columns-box img {
  object-fit: cover;
}

.hr-home {
  border: 1px solid black;
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}